<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ShopNet</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <nav>
        <a href="/">
            <img src="./assets/logo.jfif" width="60" alt="">
        </a>
        <div class="nav-country">
            <img src="./assets/location_icon.png" height="20" alt="">
            <div>
                <p>Deliver to</p>
                <h1>Uganda</h1>
            </div>
        </div>
        <div class="nav-search">
            <div class="nav-search-gategory">
                <p>All</p>
                <img src="./assets/dropdown_icon.png" height="12" alt="">
            </div>
            <input type="text" class="nav-search-input" placeholder="Search Shopnet">
            <img src="./assets/search_icon.png" class="nav-search-icon" alt="">
        </div>
        <div class="nav-language">
            <img src="./assets/us_flag.png" width="25px" alt="">
            <p>EN</p>
            <img src="./assets/dropdown_icon.png" width="8px" alt="">
        </div>
        <div class="nav-text">
            <p>Hello, Sign in</p>
            <h1>Account & Lists <img src="./assets/dropdown_icon.png" width="8px" alt=""></h1>
        </div>
        <div class="nav-text">
            <p>Return</p>
            <h1>&Orders</h1>
        </div>
        <a href="" class="nav-cart">
            <img src="./assets/cart_icon.png" width="35px" alt="">
            <h4>Cart</h4>
        </a>
        
    </nav>
<div class="nav-buttom">
    <ul>
        <li><a href="#" id="extraitems"><img src="./assets/menu_icon.png" width="25px" alt=""><span>All</span></a>
            <div class="sub-menu1 hidden" id="submenu">
                <ul id="items">
                    <li><a href="#">Electronics</a></li>
                    <li><a href="#">Food</a></li>
                    <li><a href="#">Men's Collection</a></li>
                    <li><a href="#">Women's Collection</a></li>
                    <li><a href="#">Kid's Collection</a></li>
                    <li><a href="#">Home Decor</a></li>
                    <li><a href="#">Skincare</a></li>
                    <li><a href="#">Hair products</a></li>
                    <li><a href="#">Electronics</a></li>
                </ul> 
        
        
            </div>
        
        
        
        </li>
        <li><a href="#">Today's Deals</a></li>
        <li><a href="#">Customer service</a></li>
        <li><a href="#">Registry</a></li>
        <li><a href="#">Gift Cards</a></li>
        <li><a href="#">Sell</a></li>
        </ul>
        </div>
        <div class="small-container cart-page">
            <table>
                <tr>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Subtotal</th>
                </tr>
                <tr>
                    <td>
                        <div class="cart-info">
                            <img src="./assets/product1-1.jpg" alt="">
                            <div>
                                <p>Gym outfit</p>
                                <small>500,000</small>
                                <br>
                                <a href="">Remove</a>
                            </div>
                        </div>
                    </td>
                    <td><input type="number" value="1"></td>
                    <td>Shs.500,000</td>
                </tr>
            </table>
            <div class="total-price">
                <table>
                    <tr>
                        <td>Subtotal</td>
                        <td>Shs.600,000</td>
                    </tr>
                    <tr>
                        <td>Tax</td>
                        <td>Shs.80,000</td>
                    </tr>
                    <tr>
                        <td>Total</td>
                        <td>Shs.600,000</td>
                    </tr>
                </table>
            </div>
        </div>
        <footer>
            <img src="./assets/logo.jfif" width="100" alt="">
            <p>2020-2024, ShopNet.com, Inc. or its affiliates</p>
        </footer>
        <script src="script.js"></script>
        </body>
        </html>
        
        